<nav class="navbar custom-navbar navbar-expand-md navbar-light  fixed-top bg-fix" data-spy="affix" data-offset-top="10">
    <div class="container">
        <a class="navbar-brand" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" height="50px" style="color:#ff6e42" fill="currentColor" class="bi bi-terminal-fill" viewBox="0 0 16 16">
                <path d="M0 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3zm9.5 5.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm-6.354-.354a.5.5 0 1 0 .708.708l2-2a.5.5 0 0 0 0-.708l-2-2a.5.5 0 1 0-.708.708L4.793 6.5 3.146 8.146z"/>
              </svg>
        </a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">                     
                <li class="nav-item">
                    <a class="nav-link" href="#service">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="components.html" class="ml-4 nav-link btn btn-primary btn-sm rounded">Curriculum PDF</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
