<section id="portfolio" class="section portfolio-section">
    <div class="container">
        <h6 class="section-title text-center">Estudios</h6>
        <h6 class="section-subtitle mb-5 text-center">Cursos y titulos</h6>
        
        <table class="table">
            <thead class="bg-warning text-white">
                <tr>
                    <th scope="col">Titulo</th>
                    <th scope="col">Institucion</th>
                    <th scope="col">Egreso</th>
                  </tr>
            </thead>
            <tbody *ngFor=" let titu of titulos">
                <tr >
                  <td>{{titu.titulo}}</td>
                  <td>{{titu.institucion}}</td>
                  <td>{{titu.ano}}-{{titu.mes}}</td>
                </tr>
            </tbody>
          </table>
    </div>            
</section>
