<section  id="service" class="section pt-0">
    <div class="container">
        <h6 class="section-title text-center">Skills</h6>
        <h6 class="section-subtitle text-center mb-5 pb-3"> mis habilidades </h6>
        <div class="row"> 
        
            <div class="col-md-4 my-3" *ngFor="let skill of skills">
                <div class="card mb-4 mb-md-0" >
                    <div class="card-body" >
                        <a href={{skill.link}} target="_blank" rel="noreferrer"> 
                            <img src={{skill.img}}
                            alt={{skill.name}} width="40" height="40"/> 
                            </a> 
                            <h5 class="card-title mt-3"> {{skill.name}}</h5>
                            <p class="mb-0">{{skill.desc}}</p>
                          
                      </div>
                </div>
            </div>
        
        </div>
    </div>
</section>